@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color01: #1eabe3;
    --color02: #0470b8;
    --color03: #ffffff;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}


ul, li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--color02);
    text-decoration: none;
}

header {
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    /* 30px top / 10% in the sides */
    
}

.primaryLogo {
    cursor: pointer;
    margin-right: auto;
}

.linkNav {
    list-style: none;
    padding: 2px;
}

.linkNav li {
    display: inline-block;
    padding: 0px 20px;
    
}

.linkNav li a {
    transition: all 0.3s ease 0s;
}

.linkNav li a:hover {
    color: var(--color01);
}

.blue {
    margin-left: 30px;
    padding: 9px 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: var(--color03);
    background-color: rgba(4,112,184,1);
    transition: all 0.3s ease 0s;
}
.blue:hover {
    background-color: rgba(4,112,184,0.8);
    transform: scale(1.1);
}

.background {
    width: 1903px;
    height: 98vh;
}

main {
    padding: 0;
    background-image: url(Images/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Compromisso {
    padding-left: 60px;
    padding-top: 80px;
    display: block;
    width: 60%;
    height: 85vh;
}

.Compromisso h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: #ffffff;
    padding-bottom: 25px;
}

.Compromisso p {
    font-family: "Montserrat", sans-serif;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    line-height: 1.5em;
    width: 80%;
    font-weight: 300;
    font-size: 1.5em;
    color: #ffffff;
}

.Compromisso button {
    font-size: 25px;
    margin-top: 75px;
}

/* background-image: url(Images/background02.png);
background-position: center center;
background-repeat: no-repeat;
background-size: contain; */

.somos, .servicos {
    margin-left: 15%;
    margin-right: 15%;
}

.somos {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 120px;
    
}


.somos img {
    border-radius: 10px;
    margin-left: 15%;
    margin-bottom: 60px;

}

.textSomos {
    
    margin-right: 15%;
    width: 30%;
    font-family: "Montserrat", sans-serif;
    
}

.textSomos h1 {
    padding-bottom: 40px;
    font-size: 3em;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

.textSomos p {
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
}

.instaLogo img{
    
    margin-top: 30px;
   
    display: inline;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.servicos {
    margin-top: 40px;
    padding-top: 100px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-bottom: 80px;
}

.servicos h1 {
    padding-bottom: 40px;
    font-size: 3em;
}

.servicosLista {
    margin-top: 12%;
    
    
}

.servicosLista li  {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: list-item;
    align-items: center;
    margin-left: 5%;
    text-decoration: none;
    
}

.servicosLista a {
    font-size: 1.3em;
    list-style: none;
    line-height: 1.5em;

}

.servicos img {
    border-radius: 15px;
    width: 600px;
}

.unidades {
        font-family: "Montserrat", sans-serif;
        display: block;
        padding-bottom: 50px;
        margin-bottom: 100px

}

.unidades h1 {
    padding-bottom: 40px;
    font-size: 3em;
    margin-top: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unidades p {
    font-size: 1.2em;
    line-height: 1.3em;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}


.gridContatos {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 210px 210px 210px;
    grid-template-areas: "item1 item4"
    "item2 item4"
    "item3 item4";
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    gap: 20px
    ;
}

.item1, .item2, .item3 {
    width: 60%;
    display: block;
    margin-top: 40px;
    margin-left: 40%;
} 

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
    width: 60%;
    display: block;
    margin-top: 25px;
    margin-right: 40%;
    margin-left: 50px;
}

.contatoLogo {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.hrContatos {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px ;
    
}

/* .item1, .item2, .item3 h2 {
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content:  start;
    align-items: center;
} */

.gridContatos p {
    font-size: 1.1em;
    line-height: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: justify;
}

.imgUnidMovel {
    width: 580px;
    display: flex;
    border-radius: 15px;
}

.item4 h2 {
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 20px;

}

.item4 p {
    width: 580px;
    font-size: 1.2em;
    text-align: center;  
    text-align: justify;
    margin-bottom: 20px;
}

.parceiros img {
    width: 300px;
    display: inline;
    margin: 80px 80px;
    margin-left: 400px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.parceiros img:hover {
    transform: scale(1.1);
}

.eviteMultas {
    font-family: "Montserrat", sans-serif;
    width: 1903px;
    height: 60vh;
    background-image: url(Images/background03.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.eviteMultas h1 {
    padding-bottom: 40px;
    font-size: 3.1em;
    margin-top: 60px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color03);
}

.eviteMultas p {
    font-size: 1.4em;
    line-height: 1.3em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color03);
    margin-bottom: 30px;
}

.eviteMultasBtn {
    padding: 9px 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: var(--color02);
    background-color: var(--color03);
    transition: all 0.3s ease 0s;
    display: grid;
    margin: auto;
    font-size: 2em;
    margin-bottom: 30px;
    
}

.eviteMultasBtn:hover {
    transform: scale(1.1);
}

footer {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 200px ;
    grid-template-areas: "footerLogo footerNav func";
    gap: 10px;
    padding: 30px 5%;
    /* 30px top / 10% in the sides */
    font-family: "Montserrat", sans-serif;
}

 .footerLogo {
    cursor: pointer;
    margin-right: 10%;
    height: 250px;
}

footer nav {
    display: inline-block;
}

.footerNav {
    display: flex;
    justify-content: center;
    /* align-items: center;
    list-style: none; */
    margin-top: 40px;
    padding: 2px;
}

.footerNav li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    font-size: 3em;
    font-weight: 900;

}

.footerNav li a {
    transition: all 0.3s ease 0s;
}

.footerNav li a:hover {
    color: var(--color01);
}

.func {
    display: inline-block;
    text-align: center;
    margin: 80px;
    color: var(--color02);

} 

.func h3 {
    font-size: 1.5em;
    padding-bottom: 15px;
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;
    grid-template-areas: "area1"
    "area2";
    gap: 0;
}

.area1 {
    grid-area: area1;
}

.area2 {
    grid-area: area2;
    display: flex;
    justify-content: center;
    /* align-items: center;
    list-style: none; */
    margin-top: 40px;
    padding: 2px;
}

.area2 li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    
}

.login {
    padding-bottom: 225px;
}

.formH1 {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 40px;
    font-size: 3.2em;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.formP {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 40px;
    font-size: 1.4em;
    color: white;
    text-align: center;

}

.loginForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px ;
    margin: auto;
    grid-template-areas: "formArea1"
    "formArea2";
    gap: 0;

}

#formArea1 {
    margin-left: 55%;
}



.loginForm p {
    color: var(--color03);
}

.loginForm {
    list-style-type: none;
}

.loginForm li {
    padding: 10px;
}

.input {
    width: 400px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
    border: 15px;
    justify-content: right;

}


.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 45px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--color02);
    text-decoration: none;
    border-radius: 50px;
    border: 15px;

}

.submit:hover {
    background-color: var(--color03);
    transform: scale(1.1);
}

.servH1 {
    color: var(--color03);
    text-align: center;
    font-size: 3em;
    padding: 60px;
}

.gridServicos {
    display: grid;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    gap: 10px;
    grid-template-columns: 559px 559px;
    grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px;
    grid-template-areas: "serv1 serv2",
    "serv3 serv4",
    "serv5 serv6",
    "serv7 serv8",
    "serv9 serv10",
    "serv11 serv12",
    "serv13 serv14",
    "serv15 serv16"
    ;
    color: var(--color03);
}

#serv1, #serv2, #serv3, #serv4, #serv5, #serv6, #serv7, #serv8, #serv9, #serv10, #serv11, #serv12, #serv13, #serv14, #serv15, #serv16{
    font-size: 1.1em;
    margin: auto;
}

.gridServicos h1 {
    font-size: 1.6em;
    padding-bottom: 30px;
}

.gridServicos p {
    font-size: 1.2em;
    text-align: justify;
}

/* Mobile - First */